@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
margin: 0;
padding: 0;
font-family: 'Protest Rio', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 270px;
    width: 600px;
    padding-bottom: 15px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 200px;
    width: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 100px;
    margin-top: 20px;
}

.relogio span.tempo {
    font-size: 15px;
    margin-top: 0px;
}

#data {
    font-family: 'Protest Riot', sans-serif;
    font-size: 23px;
    color: #fff;
    background-color: transparent;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .7);
    width: 600px;
    height: 30px;
    position: absolute;
    transform: translate(0px, 135px);
    letter-spacing: 0.5px;
}
